# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Training artifacts (one directory per named experiment)
/*/results/
/experiments/preliminaries

# Local default configurations
/multilevel_framework/config/trajectory.json
/multilevel_framework/config/abstraction.json
